{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ applicationurl }}favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="{{ applicationurl }}favicon.ico" type="image/x-icon"/>
    <link rel="canonical" href="{{ canonical }}">
    <title>
        {{ pagetitle }}
        -
        {{ title }}
    </title>
    {% for meta in metas %}
        <meta {% if meta.name is defined %} name="{{meta.name}}" {% elseif meta.property is defined %} property="{{meta.property}}" {% endif %} content="{{meta.content}}">
    {% endfor %}

    {% block stylesheets %}
        <!-- Font Styles -->
        <link
            rel="stylesheet"
            type="text/css"
            href="https://fonts.googleapis.com/css?family=Roboto:thin,italic,bold,regular|Product%20Sans:400italic,600italic,400,600,300|Tangerine:400italic,600italic,400,600,300"
            media="nope!"
            as="style"
            onload="this.media='all'">
        <!-- Bootstrap core CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
            media="nope!"
            as="style"
            onload="this.media='all'">
        <!-- Material Design Bootstrap -->
        <link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/tayyab-aziz/raw/upload/v1533751545/css/mdb.min.css" media="nope!" as="style" onload="this.media='all'">
        <!-- Your custom styles (optional) -->
        <link rel="stylesheet" type="text/css" href="{{ applicationurl }}css/style.min.css" media="nope!" as="style" onload="this.media='all'">
        <noscript id="deferred-styles">

            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" media="nope!" as="style" onload="this.media='all'">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/v4-shims.css" media="nope!" as="style" onload="this.media='all'">
        </noscript>
    {% endblock %}
{% endblock %}