{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
    {{ include('header.html.twig') }}
    {{ include('slider.html.twig') }}
{% endblock %}
{% block content %}
    <h1 style="display:none;">Temporary Hidden H1 Tag for testing only</h1>
    <div class="container-fluid">
        <hr class="my-3">
        <div class="row justify-content-center">
            <div class="col-md-9 order-2 order-md-1">
                <section class="text-center">
                    <h4 class="h4 font-weight-bold text-center mb-4">Latest Recipes</h4>
                    <div class="row no-gutters justify-content-center">
                        {% for item in 1..4 %}
                            <div class="col-12 col-sm-6 col-md-3 mb-4 px-1 text-left">
                                <div class="card card-cascade ">
                                    <div class="view view-cascade overlay">
                                        <img class="card-img-top" src="{{ applicationurl }}img/img%20(147).jpg" alt="Card image cap" title="Card image cap">
                                        <a href="{{ applicationurl }}recipe/details">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="card-body card-body-cascade  z-depth-2">
                                        <h6 class="pink-text pb-2 pt-1">
                                            <i class="fa fa-cutlery"></i>
                                            Culinary
                                        </h6>
                                        <h5 class="card-title">
                                            <a href="{{ applicationurl }}recipe/details">Recipe Title</a>
                                        </h5>
                                        <p class="card-text">Text Description</p>
                                        <a href="{{ applicationurl }}recipe/details" class="btn btn-block btn-unique px-0">Details</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
            <div class="col-md-3 order-1 order-md-2">
                <section class="text-center">
                    <h4 class="h4 font-weight-bold text-center mb-4">Top Categories</h4>
                    <div class="row justify-content-center">
                        {% for item in 1..5 %}
                            <div class="col col-md-12 mb-1">
                                <a href="{{ applicationurl }}recipe" class="btn btn-outline-primary waves-effect btn-block border">
                                    Recipe Category
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
        <hr class="my-3">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <section class="text-center">
                    <h4 class="h4 font-weight-bold text-center mb-4">Hall of Fame Recipes</h4>
                    <div class="row no-gutters justify-content-center">
                        {% for item in 1..4 %}
                            <div class="col-12 col-sm-6 col-md-3 mb-4 px-1 text-left">
                                <div class="card card-cascade">
                                    <div class="view view-cascade overlay">
                                        <img class="card-img-top" src="{{ applicationurl }}img/img%20(147).jpg" alt="Card image cap" title="Card image cap">
                                        <a href="{{ applicationurl }}recipe/details">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="card-body card-body-cascade  z-depth-2">
                                        <h6 class="pink-text pb-2 pt-1">
                                            <i class="fa fa-cutlery"></i>
                                            Culinary
                                        </h6>
                                        <h5 class="card-title">
                                            <a href="{{ applicationurl }}recipe/details">Recipe Title</a>
                                        </h5>
                                        <p class="card-text">Text Description</p>
                                        <a href="{{ applicationurl }}recipe/details" class="btn btn-block btn-unique px-0">Details</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
                <hr class="my-3">
                <section class="text-center">
                    <h4 class="h4 font-weight-bold text-center mb-4">Hall of Fame Users</h4>
                    <div class="row justify-content-center mb-5">
                        {% for item in 1..3 %}
                            <div class="col mt-2 px-0 mx-auto text-center">
                                <div class="card card-cascade wider">
                                    <div class="card-body ">
                                        <a href="javascript:;">
                                            <h4 class="card-title">
                                                <strong>Alice Mayer</strong>
                                            </h4>
                                            <h5 class="indigo-text">
                                                <strong>Photographer</strong>
                                            </h5>
                                        </a>
                                        <a href="javascript:;" class="btn btn-fb p-2 mx-1">
                                            <i class="fa fa-facebook fa-2x"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-tw p-2 mx-1">
                                            <i class="fa fa-twitter fa-2x"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-ins p-2 mx-1">
                                            <i class="fa fa-instagram fa-2x"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <section class="text-center">
                    <h4 class="h4 font-weight-bold text-center mb-4">Advertisement</h4>
                    <div class="row no-gutters justify-content-center">
                        <div class="col col-sm-6 col-md-12 mb-4 px-1 text-left">
                            <div class="card card-cascade ">
                                <div class="view view-cascade overlay">
                                    <img class="card-img-top" src="{{ applicationurl }}img/img%20(147).jpg" alt="Card image cap" title="Card image cap">
                                    <a href="javascript:;">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}